title = "Digitize Things"
url = "/digitize-things"
layout = "master"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
child_of = "mey_no_parent"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[viewBag]
localeUrl[id] = "/digitize-things/id"

[builderList]
modelClass = "Agit\AgitPost\Models\DigitizeThing"
scope = "-"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "digitize-thing-detail"
detailsKeyColumn = "title"
detailsUrlParameter = "title"
pageNumber = "{{ :page }}"
==
{% partial 'site/title' %}
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

<div class="container">
    <div class="row my-5 justify-content-center">
        {% for record in records %}
        {% if record.category == "Digitize Thing" %}
        <div class="col-md-3 col-12 py-3 csp-bg">
            <div class="agit-nofill-card">
                <div class="cardbox">
                    <div class="original">
                        <div class="text">
                            <img class="img-fluid d-block w-100" src="{{ record.iconslider.path }}">
                            <div class="font-weight-bold mt-2">{{ record.title }}</div>
                        </div>
                    </div>
                    <div class="on-hover">
                        {{ html_limit(record.desc, 100) | raw }}
                        <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}" class="btn btn-sm btn-warning">
                            <b>See Details <i class="fa fa-angle-right fa-fw"></i></b>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% else %}
        <h4>{{ noRecordsMessage }}</h4>
        {% endfor %}
    </div>
</div>