title = "Homepage"
url = "/"
layout = "master"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
child_of = "mey_no_parent"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "news"
postsPerPage = 3
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "news"
postPage = "news-post"

[formSubscribe]
urlToUnsubscribe = "unsubscribe"
urlToProfile = "subscriber-profile"
geo = "disabled"
thanksMessage = "Thanks for subscribe!"
errorMessage = "Email already exists!"
==
{% content 'Home/Landing' %}
{% content 'Home/Offer' %}
{% set posts = blogPosts.posts %}
<div class="bg-white slide-section">
    <div class="container">
        <div class="desc mb-5">
            News
            <br>
            <span>{{ 'Keep update with our Activities & Communities'|_ }}</span>
        </div>
        <div class="card-deck">
            {% for post in posts %}
            <div class="card mb-md-0 mb-3">
                {% if post.featured_images.count %} {% for image in post.featured_images|slice(0, 1) %}
                <img class="card-img-top" data-src="{{ image.filename }}" src="{{ image.path }}" alt="{{ image.description != null ? image.description : image.filename }}" title="{{ image.title != null ? image.title : post.title }}"> {% endfor %} {% endif %}

                <div class="card-body">
                    <div class="card-title"><a href="{{ post.url }}">{{ post.title }}</a></div>
                    <p class="card-text">
                        <small class="text-muted">
                            <i>{{ post.published_at|date('M d, Y') }}</i>
                        </small>
                    </p>
                    {{ html_limit(post.summary, 150) |raw }}
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="text-center mt-5">
            <a href="{{ 'news'|page }}" class="btn btn-primary">More News</a>
        </div>
    </div>
</div>
<div class="page-content bg-light">
    <div class="container partner-div">
        <div class="title">Our Partners</div>
        <div class="col-md-10 col-12 mx-auto text-center">
            {% content 'Home/Partners' %}            
        </div>
    </div>
</div>
<div class="page-content bg-white">
    <div class="container partners-section">
        <div class="row align-items-center">
            <div class="col-md-3 col-12 ml-auto">
                <div class="h6"><b>Subscribe Us</b> Now</div>
            </div>
            <div class="col-md-7 col-12 mr-auto">
                <form name="form-subscribe-andradedev" id="form-subscribe-andradedev" data-request="{{ formSubscribe }}::onAddSubscriber" data-request-update="'{{formSubscribe}}::alert': '#result'">
                  <div class="form-row align-items-center">
                    <div class="col-md-9 col-6">
                      <input type="email" class="form-control form-control-lg" name="email" placeholder="Your E-mail" required>
                    </div>
                    <div class="col-md-3 col-6">
                      <button class="btn btn-outline-warning btn-lg btn-block" form="form-subscribe-andradedev">Subscribe</button>
                    </div>
                  </div>
                </form>
            </div>
        </div>
        <div class="row my-2">
            <div id="result"></div>
        </div>
    </div>
</div>