title = "ICT-Platform List"
url = "/ict-platform/:id"
layout = "master"
description = "Our Infrastructure Services are the result of a significant expertise grown over many years, enhanced by our strategic alliance with world leading technology companies."
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
child_of = "ict-platform"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[breadcrumbs]
main-ol-class = "breadcrumb container"
active-class = "active"
disabled-class = "disabled"

[builderDetails]
modelClass = "Agit\AgitPost\Models\Post"
identifierValue = "{{ :id }}"
modelKeyColumn = "id"
displayColumn = "id"
notFoundMessage = "Record not found"

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "EBA"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "ict-platform-post"
postPage = "details"
==
{% partial 'site/title' %}
{% component 'breadcrumbs' %}
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

<div class="container">
    <!-- {% if record %}
    <h3>{{ record.title }}</h3>
    <img src="{{ record.iconslider.path }}" alt="">
    <p>{{ record.post_date }}</p>
    <p>{{ record.desc | raw }}</p>
    <p>Category : {{ record.category }}</p>
    {% else %} {{ notFoundMessage }} {% endif %} -->
    {% set posts = blogPosts.posts %}
    <div class="row my-5 justify-content-center">
        {% for post in posts %}
        <div class="col-md-3 col-12 py-3">
            <div class="agit-nofill-card">
                <div class="cardbox">
                    <div class="original">
                        <div class="text">
                            <div>{{ post.title }}</div>
                        </div>
                    </div>
                    <div class="on-hover">
                        {{ html_limit(post.summary, 100) | raw }}
                        <a href="{{ post.url }}" class="btn btn-warning btn-sm">
                            See More
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <h5>{{ noPostsMessage }}</h5>
        {% endfor %}
    </div>
</div>