title = "News"
url = "/news"
layout = "master"
description = "Get our latest information about our activities, events, and promotions from our News."
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
child_of = "home"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "news"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "news"
postPage = "news-post"

[breadcrumbs]
main-ol-class = "breadcrumb"
active-class = "active"
disabled-class = "disabled"

[builderList newsList]
modelClass = "Agit\NewsPost\Models\NewsPostingTitle"
scope = "-"
displayColumn = "title_id"
noRecordsMessage = "No records found"
detailsPage = "news-post"
detailsKeyColumn = "id"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[builderList NewsContentDetail]
modelClass = "Agit\NewsPost\Models\NewsPostingContent"
scope = "-"
displayColumn = "description_content_en"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
{% set posts = blogPosts.posts %}
{% partial 'site/title' %}

{% set recordsContent = NewsContentDetail.records %}
{% set records = newsList.records %}
{% set displayColumn = newsList.displayColumn %}
{% set noRecordsMessage = newsList.noRecordsMessage %}
{% set detailsPage = newsList.detailsPage %}
{% set detailsKeyColumn = newsList.detailsKeyColumn %}
{% set detailsUrlParameter = newsList.detailsUrlParameter %}

<div class="container my-4">
    {% component 'breadcrumbs' %}
    <div class="card-columns">
        {% for record in records %}
        <div class="card">
            <img class="card-img-top" src="{{ record.titleImage.path }}">
            <div class="card-body">
                <h5 class="card-title"><a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">{{ attribute(record, displayColumn) }}</a></h5>
                <div class="card-text">{{ html_limit(recordsContent[0].description_content_id, 100) | raw }}</div>
                
                <p class="card-text">
                    <small class="text-muted">
                        Posted on {{ record.created_at|date('M d, Y') }}
                    </small>
                </p>
            </div>
        </div>
        {% else %}
        <div class="h4">{{ noRecordsMessage }}</div>
        {% endfor %}
    </div>
    {% if records.lastPage > 1 %}
    <ul class="pagination">
        {% if records.currentPage > 1 %}
        <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage-1) }) }}">&larr; Prev</a></li>
        {% endif %} {% for page in 1..records.lastPage %}
        <li class="{{ records.currentPage == page ? 'active' : null }}">
            <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
        </li>
        {% endfor %} {% if records.lastPage > records.currentPage %}
        <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage+1) }) }}">Next &rarr;</a></li>
        {% endif %}
    </ul>
    {% endif %}
</div>