title = "News Detail"
url = "/news/:id"
layout = "master"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
child_of = "news"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[viewBag]
localeUrl[id] = "/news/id/:id"

[blogPost]
slug = "{{ :slug }}"
categoryPage = "news"

[breadcrumbs]
main-ol-class = "breadcrumb"
active-class = "active"
disabled-class = "disabled"

[builderDetails titleDetails]
modelClass = "Agit\NewsPost\Models\NewsPostingTitle"
identifierValue = "{{ :id }}"
modelKeyColumn = "id"
displayColumn = "title_id"
notFoundMessage = "Record not found"

[builderList contentList]
modelClass = "Agit\NewsPost\Models\NewsPostingContent"
scope = "-"
displayColumn = "title_content_en"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==

{% set recordTitle = titleDetails.record %}
{% set displayColumn = titleDetails.displayColumn %}
{% set notFoundMessage = titleDetails.notFoundMessage %}

{% set records = contentList.records %}
{% set displayColumn = contentList.displayColumn %}
{% set noRecordsMessage = contentList.noRecordsMessage %}
{% set detailsPage = contentList.detailsPage %}
{% set detailsKeyColumn = contentList.detailsKeyColumn %}
{% set detailsUrlParameter = contentList.detailsUrlParameter %}

<div class="container mb-4">
    {% component 'breadcrumbs' %}
    <div class="h2">
        {{ recordTitle.title_en }}
    </div>
    <p class="info">
        Posted in
        {% for item in recordTitle.topic_id %}
            {% if item == 1%}
                News Releases
            {% endif %}
            {% if item == 2%}
                Organization Announcement
            {% endif %}
            {% if item == 3%}
                Innovation
            {% endif %}
            {% if item == 4%}
                Product & Services
            {% endif %}
            {% if item == 5%}
                Events
            {% endif %}
            {% if item == 6%}
                Recruiting
            {% endif %}
            {% if item == 7%}
                CSR
            {% endif %}
            {% if item == 8%}
                Investors
            {% endif %}
            {% if item == 9%}
                Others
            {% endif %}
        {% endfor %}
        &nbsp;on {{ recordTitle.created_at|date('M d, Y') }}
    </p>
    {% for record in records if record.news_id == recordTitle.news_id%}
        <div class="content">
            <div class="row mx-0 mb-4 justify-content-center">
                <img class="d-block w-100 h-100" src="{{ record.contentImage.path }}">
                <div class="small my-3">{{ record.title_content_en }}</div>
            </div>
            {{ record.description_content_en | raw }}
        </div>
    {% endfor %}
</div>
