[viewBag]

[staticMenu]
code = "mainMenu"
==
{% import _self as nav %}

{% macro render_menu(items) %}
    {% import _self as nav %}

    {% for item in items %}
        {% if item.items %}
        <li class="nav-item dropdown {{ item.isActive ? 'active' }} {{ item.isChildActive ? 'child-active' }}">
            <a href="{{ item.url }}" class="nav-link dropdown-toggle" role="button" data-hover="dropdown">
                {{ item.code ? ('nav.'~item.code)|_ : item.title }}
            </a>
            <ul class="dropdown-menu">
                {% if item.items %}
                    {% for subitem in item.items %}
                        <li class="dropdown-level-2">
                            <a href="{{ subitem.url }}">{{ subitem.title }}</a>
                            {% if subitem.items %}
                                <ul>
                                    {% for subitem2 in subitem.items %}
                                            <a href="{{ subitem2.url }}">{{ subitem2.title }}</a> 
                                        </li>                                
                                    {% endfor %}
                                </ul>                            
                            {% endif %}
                        </li>                        
                    {% endfor %}
                {% endif %}                
            </ul>                
        </li>
        {% else %}
            <li class="nav-item {{ item.isActive ? 'active' }} {{ item.isChildActive ? 'child-active' }}">
                <a href="{{ item.url }}" class="nav-link">{{ item.code ? ('nav.'~item.code)|_ : item.title }}</a>
            </li>
        {% endif %}  
        
    {% endfor %}
{% endmacro %}



<!-- Nav -->
<nav id="layout-nav" class="navbar navbar-light navbar-expand-lg" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand py-2" href="{{ 'home'|page }}">
              <img src="storage/app/media/company-logo/agit-logo.png" alt="logo">
            </a>
        </div>
        <button class="navbar-toggler" type="button" id="navToggle">
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse navbar-main-collapse" id="navToggleContent">
            <button class="btn" type="button" id="navToggleClose">
                <i class="fa fa-times-circle"></i>
            </button>
            {% if staticMenu.menuItems %}
            <ul class="navbar-nav ml-auto">
                {{ nav.render_menu(staticMenu.menuItems) }}
            </ul>
            {% endif %}
        </div>
    </div>
</nav>